<div>
  <app-header></app-header>
  <br/>
  <br/>
  <div class="img">
    <img src="../assets/ForgotPassword.svg" />

  </div>
  <div class="reset-password-portal-outlet">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
  </div>
  <ng-template #findAccountTemplate>

    <div class="card">

      <mat-card class="z-depth-3" flex="50">
        <mat-card-header>
          <mat-card-title class="reset-password-portal-outlet">First, let's find your account</mat-card-title>
          <mat-card-subtitle>Please select your School and enter your registered Email</mat-card-subtitle>
        </mat-card-header>
        <!--<img mat-card-image src="../assets/ForgotPassword.svg">-->
        <mat-card-content>
          <form class="findAccount-form" [formGroup]="accountRetrivalForm">
            <div class="form-group">
              <mat-form-field class="findAccount-full-width">
                <mat-label>Schoolname</mat-label>
                <mat-select formControlName="Schoolname" [class.is-invalid]="accountRetrivalForm.get('Schoolname').invalid && accountRetrivalForm.get('Schoolname').touched">
                  <mat-option *ngFor="let school of schoolList " [value]="school">{{school}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="findAccount-full-width">
                <input matInput [class.is-invalid]="accountRetrivalForm.get('Email').invalid && accountRetrivalForm.get('Email').touched"
                  type="email" placeholder="Email" formControlName="Email" [(ngModel)]="emailId" name="Email" />
              </mat-form-field>
            </div>
          </form>

        </mat-card-content>
        <mat-card-actions>
          
            <button mat-button class="button"  (click)="getOneTimePassword()"color="accent">gnerate otp </button>
          
          <div *ngIf="(Email.invalid && Email.touched) || Email.dirty">
            <alert *ngIf="Email.errors?.required" type="danger">Email is required</alert>
            <!--question mark(?) is a safe navigation operator-->
            <alert *ngIf="Email.errors?.pattern" type="danger">Please provide a valid Email Address</alert>
          </div>

          <div *ngIf="(Schoolname.invalid && Schoolname.touched) || Schoolname.dirty">
            <alert *ngIf="Schoolname.errors?.required" type="danger">Schoolname is required</alert>
            <!-- <small *ngIf="Schoolname.errors?.pattern" class="text-danger">Please provide a valid Schoolname</small>-->
          </div>
          <div *ngIf="!formValidStatus&&formValidStatus!=undefined">
            <alert type="danger"> Please provide correct values for  Schoolname  and Email</alert>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-template>
  <ng-template #otpTemplate>
    this prints 2!
  </ng-template>
  <ng-template #changePasswordTemplate>
    this prints 3!
  </ng-template>
  <br/>
  <br/>
  <br/>

  <app-footer></app-footer>

</div>