
.img-div 
{
  width: 50vw;
  height: 50vh;
  /*width: 36%;
  height: 36%;
  float:  left; 
  
  margin-left: 0%;
  margin-right: 10%;
  margin-top: 3%;*/
  border-radius: 25%;
 background-color:white; 
  
}

.reset-password-portal-outlet{
  font-family: 'Moon-Bold';
  color:darkblue;
  float: center;
  width: 86%;
  
  
  
}
card{
  position: relative;
   float: left; 
   
   
}  

.findAccount-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  
  
}
.findAccount-full-width {
  width: 100%;
}
button{
  width: 100%;
  background-color: snow;

  
}

.backButton{
  
  background-color: snow;
  width:12vw;
  /*float: left;*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resendButton{
  background-color: snow;
  width:12vw;
  /*align-self: center;
  position: center;
  padding-left: 105px;
  padding-right: 98px;*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}
.verifyButton{
  
  background-color: snow;
  width:12vw;
  /*float: right;*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}
.otpInput{
 
  align-self: center;
  position: center;
  padding-left: 135px;
  padding-right: 105px;
}
.flex-container{
  display: flex;
}
.flex-content{
  
    flex: 50%;
    padding: 5px;
  
}
.image{
  max-width: 100%;
  height: auto;
}