<div>
  <app-header></app-header>
  <br/>
  <br/>
  <div class="img">
    <img src="../assets/ForgotPassword.svg" />

  </div>
  <div class="reset-password-portal-outlet">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
  </div>
  <ng-template #findAccountTemplate>

    <div class="card">

      <mat-card class="z-depth-3" flex="50">
        <mat-card-header>
          <mat-card-title class="reset-password-portal-outlet">First, let's find your account</mat-card-title>
          <mat-card-subtitle>Please select your School and enter your registered Email</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form class="findAccount-form" [formGroup]="accountRetrivalForm">
            <div class="form-group">
              <mat-form-field class="findAccount-full-width">
                <mat-label>Schoolname</mat-label>
                <mat-select (Keyup.enter)="getOneTimePassword()" formControlName="Schoolname" [class.is-invalid]="accountRetrivalForm.get('Schoolname').invalid && accountRetrivalForm.get('Schoolname').touched">
                  <mat-option *ngFor="let school of schoolList " [value]="school">{{school}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="findAccount-full-width">
                <input matInput (Keyup.enter)="getOneTimePassword()" [class.is-invalid]="accountRetrivalForm.get('Email').invalid && accountRetrivalForm.get('Email').touched"
                  type="email" placeholder="Email" formControlName="Email" name="Email" />
              </mat-form-field>
            </div>
            <div class="form-group">
              <p-captcha siteKey="6LdLXqYZAAAAAIdhJpcS6yx3j2yJnELNitOqEGBo" (onResponse)="showResponse($event)"></p-captcha>
            </div>
          </form>

        </mat-card-content>
        <mat-card-actions>

          <button mat-button class="button" (click)="getOneTimePassword()" color="accent">gnerate otp </button>

          <div *ngIf="(Email.invalid && Email.touched) || Email.dirty">
            <alert *ngIf="Email.errors?.required" type="danger">Email is required</alert>

            <alert *ngIf="Email.errors?.pattern" type="danger">Please provide a valid Email Address</alert>
          </div>

          <div *ngIf="(Schoolname.invalid && Schoolname.touched) || Schoolname.dirty">
            <alert *ngIf="Schoolname.errors?.required" type="danger">Schoolname is required</alert>
          </div>


          <div *ngIf="captchaResponse==true">
            <alert type="success">Human Response validated</alert>
          </div>
          <div *ngIf="accountRetrivalForm.invalid&&accountRetrivalForm.touched ||captchaResponse==false">
            <alert type="danger"> Please provide correct values for form Fields and validate Human response</alert>
          </div>
          <div *ngIf="validForm==false">
            <alert type="danger"> Please provide correct values for form Fields and validate Human response</alert>

          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-template>

  <ng-template #otpTemplate>

    <div class="card">

      <mat-card class="z-depth-3" flex="50">
        <mat-card-header>
          <mat-card-title class="reset-password-portal-outlet">Please enter Verification Code</mat-card-title>
          <mat-card-subtitle>We will email an OTP, if the provided details are correct</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <form class="findAccount-form" >

            <div class="otpInput">
              
              <ng-otp-input #ngOTPInput  (onInputChange)="onOtpChange($event)" [config]="{length:4,allowNumbersOnly:true}"></ng-otp-input>
              <span *ngIf="otp"  >{{otp}}</span>
            </div>

          </form>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="backButton" (click)="Back()" color="accent">back </button>
          <button mat-button class="resendButton" (click)="getOneTimePassword()" color="accent">resend otp </button>
          <button mat-button class="verifyButton" (click)="verifyOneTimePassword()" color="accent">verify otp </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <br/>
    <br/>
    <br/>
  </ng-template>
  <ng-template #changePasswordTemplate>
    this prints 3!
  </ng-template>
  <br/>
  <br/>
  <br/>

  <app-footer></app-footer>

</div>
