
img 
{
  width: 36%;
  height: 36%;
  float:  left; 
  
  margin-left: 0%;
  margin-right: 10%;
  margin-top: 3%;
  border-radius: 25%;
 background-color:white; 
  
}

.reset-password-portal-outlet{
  font-family: 'Moon-Bold';
  color:darkblue;
  float: center;
  width: 86%;
  
  
  
}
card{
  position: relative;
   float: left; 
   
   
}  

.findAccount-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  
  
}
.findAccount-full-width {
  width: 100%;
}
button{
  width: 100%;
  background-color: snow;

  
}