@import '~@angular/material/theming';


// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Moon-Bold',
  $headline: mat-typography-level(32px, 48px, 700)
  ,$body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-core($custom-typography);
$config: mat-typography-config();


.customHeaderFont {
  
  @include mat-typography-level-to-styles($config, title);
  font-size: mat-font-size($config, headline);
  font-family: mat-font-family($config);
  color: white;
  cursor: pointer;

  
}
.footer{
  text-align: center;
  font-family:mat-font-family($config);
}

