img 
  {
    width: 50%;
    height: 50%;
    float:  center; 
    
    margin-left: 22%;
    margin-top: 4%;
    border-radius: 25%;
   background-color:white; 
    
  }
  .homeButton{
    font-family: 'Moon-Bold';
     
    
    /*height: 120%;
    width: 105%;*/
    
   align-self: center;
   font-size: xx-large;
   
   width:100vw;
   overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
  .Link{
    
    align-self: center;
    
  }


  footer{
    text-align: center;
    font-family: 'Moon-Bold';
  }
  .card{
    position: relative;
     float:center ;
      
    
  }