<div>
  <app-header></app-header>
  
  <div class="img" ><img src="../assets/LogIn.svg"  /></div>
  <div class="main-div" >
       
    <div class="card"><mat-card class="z-depth-3" flex="50" >
      <mat-card-header>
        <mat-card-title>
          <p class="text-center">Welcome to SchoolMonitor!</p>
        </mat-card-title>
        <!-- Sign to get a digital experience of your school.-->
      </mat-card-header>
      <!--<img mat-card-image src="../assets/Logo2.PNG" alt="Logo" style="width:10%">-->
      <mat-card-content>
        <form class="login-form">
          <mat-form-field class="login-full-width">
            <input matInput placeholder="Username" type="text" [(ngModel)]="userNameWithDomain" name="userNameWithDomain" />
          </mat-form-field>
          <mat-form-field class="login-full-width">
            <input matInput type="password" placeholder="password" [(ngModel)]="password" name="password" />
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" class="btn btn-info btn-xl " tooltip="Login to enter Home Page" (click)="login()"> Login </button>
        <button mat-button color="accent">Forgot Password?</button>
        <div *ngIf="loginStatus!=undefined && loginStatus ">
          <!--<alert  type="success" >
          <strong>Well done!</strong> You successfully Logged in.
        </alert>-->
          <div>{{redirectToIntendedUrl()}}</div>
        </div>
        <div *ngIf="loginStatus!=undefined && !loginStatus">
          <alert type="danger">
            <strong>Oh snap!</strong>
            <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
          </alert>
        </div>
      </mat-card-actions>
    </mat-card></div>
  </div>
  <app-footer></app-footer>
</div>
