.introHeader{
  font-family: 'Moon-Bold';
  color:darkblue;
}
.img-div 
  {
    width: 40vw;
    height: 40vh;
    border-radius: 25%;
   background-color:whitesmoke;   
  }
.image{
  max-width: 100%;
  height: auto;
 
}  
.login-field-width{
  width:33vw;
}
.card{
    width: 36vw;
    height: 36vh;
    display:inline;
    
}
.footer{
  margin-top: 8vh;
}  