<div class="main-div">
  <mat-card class="z-depth-3" flex="50">
  
    <mat-card-header>
      <mat-card-title>
        <p class="text-center">Welcome to SchoolMonitor!</p>
      </mat-card-title>
      <!-- Sign to get a digital experience of your school.-->
    </mat-card-header>
   
    <!-- <img mat-card-image src="../assets/Logo1.PNG" alt="Logo">-->
   
    <mat-card-content>
      <form class="example-form">
        
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" type="text" [(ngModel)]="userNameWithDomain" name="userNameWithDomain"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="password" [(ngModel)]="password" name="password"/>
        </mat-form-field>
      </form>
    </mat-card-content>
    
    <mat-card-actions>
      <button type="button" class="btn btn-info btn-xl "  tooltip="Login to enter Home Page" (click)="Login()"> Login </button>
      <div *ngIf=" loginCredentials ">
        <alert type="success">
          <strong>Well done!</strong> You successfully Logged in.
        </alert>
      </div>

      <ng-template #failure>
        <div>
          <alert type="danger">
            <strong>Oh snap!</strong>
            <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
          </alert>
        </div>
      </ng-template>
      <!-- <button mat-button color="primary">Forgot password</button>-->

    </mat-card-actions>
  </mat-card>
</div>
