.example-card {
  max-width: 400px;
}
  
 
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }
  .example-full-width {
    width: 100%;
  }
  .center{
    width: 30%;
    margin: 10px auto;
  }
.btn {
  width: 100%;
}
alert-link{
  width: 100%;
}
  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/simple background.png");
    
  }
 