.introHeader{
  font-family: 'Moon-Bold';
  color:darkblue;
}
.img-div 
  {
    width: 45vw;
    height: 45vh;
    /*float:  left;*/ 
    border-radius: 25%;
   background-color:whitesmoke;   
  }
.image{
  max-width: 100%;
  height: auto;
}  
 
  