


    
   
    .main-div{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align:center;
  
      /*background-repeat: no-repeat;
      background-size:auto 45pc;
      background-position:center;
      background-image: url("/assets/404.png");*/
    }
    /*img 
    {
      display:inline-block;
    }*/
    
    .fill-remaining-space {
      
      flex: 1 1 auto;
    }
   