
space{
  margin: 20%;
}   
    .admin-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
      
    }
    .admin-full-width {
      width: 100%;
    }
    img{
      width:30vw;
      height: 30vh;
    }
    .image{
      max-width: 100%;
      height: auto;
     
    } 
  
    .coursework-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
      
    }
    .coursework-full-width {
      width: 100%;
    }
   