
    img{
      width:20vw;
      height: 20vh;
    }
    .image{
      max-width: 100%;
      height: auto;
     
    } 
  
    .flex-container{
      display: flex;
      width:38vw;
      height: 38vh;
    }
    .flex-content{
      
        height:20vh;
        width:20vw;
        padding: 5px;
      
    }
    .flex-content-title{
      
      height:12vh;
      width:12vw;
      
    
  }
   
    