<div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <mat-toolbar color="primary" role="heading">
        <mat-toolbar-row>
          <span class="customHeaderFont"><h1>SchoolMonitor</h1></span>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <div class="main-div">
        <mat-card class="z-depth-3" flex="50">
          <mat-card-header>
            <mat-card-title>
              <p class="text-center">Forgot Password</p>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form class="ForgotPassword-form">
              <mat-form-field class="ForgotPassword-full-width">
                <input matInput placeholder="Username" type="text" [(ngModel)]="userNameWithDomain" name="userNameWithDomain" />
              </mat-form-field>
              <mat-form-field class="ForgotPassword-full-width">
                <input matInput type="Current Password" placeholder="Current Password" [(ngModel)]="currentPassword" name="Current Password" />
              </mat-form-field>
              <mat-form-field class="ForgotPassword-full-width">
                  <input matInput type="New Password" placeholder="New Password" [(ngModel)]="newPassword" name="New Password" />
                </mat-form-field>
                <mat-form-field class="ForgotPassword-full-width">
                    <input matInput type="Repeat New Password" placeholder="Repeat New Password" [(ngModel)]="repeatNewPassword" name="New Password" />
                  </mat-form-field>

            </form>
          </mat-card-content>
    
          <mat-card-actions>
            <button type="button" class="btn btn-info btn-xl " tooltip="Submit to change Password" > Submit </button>
    
           
          </mat-card-actions>
        </mat-card>
      </div>
      <app-footer></app-footer>
    </div>


